body{
  font-family: "Montserrat";
}
h1{
  font-family: "Montserrat" !important;
  font-size: 3.5rem !important;
  line-height:1.5 !important;
  background-color: #E7DEC8 !important;
}
.navbar-nav{
  margin-left: auto;
}

#title{
background-image: url("https://wallpaperaccess.com/full/4293159.jpg");
background-repeat:no-repeat;
background-size:cover;
padding: 3% 15% 7%;
}
.row{
  padding-top: 7%;
}
.iphone{
  transform: rotate(20deg);
  width: 60%;
  margin-left: 30px;
  position: absolute;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem !important;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px 0 18px;
  font-size: 1.4rem;
}
.navbar{
  padding: 0 0 2rem !important;
}
.btn{
  margin-top: 3rem !important;
}
.btn-outline-light{
  margin-left: 5px !important;
}
#features{
  padding: 5% 15%;
  text-align: center;
  background-color: #fff;
  position: relative;
}
h3{
  font-family: "Montserrat";
  font-size: 1.5rem !important;
}
.second-font-icons{
  color: #ef8172;
  font-size: 5rem;
  padding-bottom: 1.2rem !important;
}
p{
  color: #8f8f8f;
}
.second-font-icons:hover{
  color: #ff4c68;
}
.feature-box{
  padding: 0 5% !important;
}
#testimonials{
  text-align: center;
  background-color: #ef8172;
}
h2{
  color: white !important;
  font-family: "Montserrat" !important;
  font-size: 3rem !important;
  line-height: 1.5 !important;
}
.testimonial-image{
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding: 3% 0;
}
.press-image{
  width: 15%;
  margin: 0 20px 20px 20px;
}
.carousel-item{
  padding: 7% 15%;
}
.h2-pricing{
  color: black !important;
}
.h3-pricing{
  color: black !important;
}
#pricing{
  text-align:center;
  padding: 100px;
}
.card-deck{
  padding-top: 40px !important;
}
#cta{
  text-align:center;
  background-color: #ff4c68;
  padding: 5% 15%;
}
.last-btn{
  margin: 1rem;
}
.last-h3{
  color: white;
  font-family: "Montserrat";
  font-size: 3rem !important;
  line-height: 1.5;
}
footer{
  padding: 2% 15% 0;
  text-align: center;
  text-decoration: none;
  margin-bottom: 0;
}
.footer-img{
  height: 40px;
  width: 40px;
  text-decoration: none;
  margin: 20px;
}
@media (max-width: 1028px) {
  #title{
    text-align: center;
  }
  .iphone{
    transform: rotate(0);
    position:static;
    margin-top: 30px;
    margin-right: 30px;
  }
  
}
